/* .rainbowbg{
  height: 100%;
  width: 50%;
  inset: 0;
  z-index: -9999999999999;
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;

  min-width: 100%;
  min-height: 100vh;

  --czas: 100s;

  animation: rainbow var(--czas) ease infinite;
} */

.gradientbg,
.gradientbg2,
.gradientbg3 {
  background: linear-gradient(
    190deg,
    var(--color-primary) 0%,
    var(--color-secondary) 100%
  ); /* */
  background-attachment: fixed;
  background-size: cover;
}

.gradientbg2 {
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: -99999999999999999999999999;
}

.gradientbg3 {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: -99999999999999999999999999;
}

/* prettier-ignore */
@keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
