.shake:hover {
	animation: shakeanimation 0.2s;
	animation-iteration-count: infinite;
}

.shake:active {
	animation: shakeanimation2 0.1s !important;
	animation-iteration-count: infinite !important;
	filter: saturate(300%) blur(1.2px) !important;
}

.nodrag {
	/* Usuwa wyświetlanie się przeciąganego zdjęcia */
	user-select: none;
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-moz-user-drag: none;
	-moz-user-select: none;
}

/* prettier-ignore */
@keyframes shakeanimation {
   0% { transform: translate(1px, 1px) rotate(0deg); }
   10% { transform: translate(-1px, -2px) rotate(-1deg); }
   20% { transform: translate(-3px, 0px) rotate(1deg); }
   30% { transform: translate(3px, 2px) rotate(0deg); }
   40% { transform: translate(1px, -1px) rotate(1deg); }
   50% { transform: translate(-1px, 2px) rotate(-1deg); }
   60% { transform: translate(-3px, 1px) rotate(0deg); }
   70% { transform: translate(3px, 1px) rotate(-1deg); }
   80% { transform: translate(-1px, -1px) rotate(1deg); }
   90% { transform: translate(1px, 2px) rotate(0deg); }
   100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* prettier-ignore */
@keyframes shakeanimation2 {
   0% { transform: scale(1.2) translate(4px, 2px) rotate(0deg); }
   10% { transform: scale(1.2) translate(-4px, -4px) rotate(-3deg); }
   20% { transform: scale(1.2) translate(-12, 0px) rotate(3deg); }
   30% { transform: scale(1.2) translate(12, 4px) rotate(0deg); }
   40% { transform: scale(1.2) translate(4px, -4px) rotate(3deg); }
   50% { transform: scale(1.2) translate(-4px, 4px) rotate(-3deg); }
   60% { transform: scale(1.2) translate(-12, 2px) rotate(0deg); }
   70% { transform: scale(1.2) translate(12, 2px) rotate(-3deg); }
   80% { transform: scale(1.2) translate(-4px, -4px) rotate(3deg); }
   90% { transform: scale(1.2) translate(4px, 4px) rotate(0deg); }
   100% { transform: scale(1.2) translate(4px, -4px) rotate(-3deg); }
}

#fumo {
	position: fixed;
	bottom: 0;
	right: 0;
	cursor: pointer;
}

@media (min-height: (100vh - 20px)) {
	#fumo {
		position: absolute;
		bottom: 20px;
	}
}
