:root{
  --simple-layout-gap: 15px;
}

.simple-layout {
  display: flex;
  justify-content: space-between;
  gap: var(--simple-layout-gap);
}

.simple-layout > div {
  width: 100%;
}

.simple-layout > div > div {
  border-radius: 15px;
  margin-bottom: var(--simple-layout-gap);
  
  padding: 20px;

  border: black 3px solid;

  background-color: rgba(255, 255, 255, .1);
}
