@import url(/style/bg.css);
@import url(/style/grid.css);
@import url(/style/fonts.css);
@import url(/style/utils.css);
@import url(/style/shake.css);
@import url(/style/print.css);
@import url(/style/simple_layout.css);
@import url(/style/utils/navbar.css);
@import url(/style/utils/footer.css);

:root{
  --color-primary: rgb(40,80,120);
  --color-secondary: rgb(0, 0, 68);
  --color-link: rgb(d0adf0)

  --content-min-height: 750px
}

*{
  margin: 0;
  font-family: Roboto;
  box-sizing: border-box;
  user-select: none;
}

*::-webkit-scrollbar{
  display: none;
}

html{
  color-scheme: dark;
}

body{
  position: relative;
}

code{
  font-family: "Consolas", monospace
}

h1, h2, h3{
  margin: 10px;
  text-align: center;
  text-shadow: var(--color-secondary) 3px 3px;
}

h1#titleh1{
  font-size: 50px;
  min-height: 50px;
}

p, .text, .text *{
  text-shadow: var(--color-secondary) 2px 2px;
  text-align: justify;
}

.content-div{
  min-height: var(--content-min-height);
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
}

header > h1 {
  flex-grow: 5;
}

header > img {
  max-height: 150px;
  max-width: 150px;
  flex-grow: 2;
}

hr{
  margin-top: 10px;
  margin-bottom: 10px;
}

img#fumo{
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 10px;
  width: 13vw;
}

.gradientbg,
.footer-positioner,
.content-div{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.opacity10{
  opacity: 0.1;
}

*:has(.notakeupspace){
  position: relative;
}

.notakeupspace{
  position: absolute;
  margin-left: 10px;
  white-space: nowrap;
}

.todo{
  background-color: #ff8000;
}
