@import url(/style/rainbow.css);
@import url(/style/grid.css);
@import url(/style/fonts.css);
@import url(/style/simple_layout.css);

*{
  margin: 0;
  font-family: Roboto;
  box-sizing: border-box;
  user-select: none;
}

*::-webkit-scrollbar{
  display: none;
}

html{
  color-scheme: dark;
}

/*iframe, nav{
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  border: 10px red solid;
}/* debug */

h1, h2, h3{
  margin: 10px;
  text-align: center;
  text-shadow: black 3px 3px;
}

h1#titleh1{
  font-size: 50px;
  min-height: 70px;
}

p, .text, .text *{
  text-shadow: black 2px 2px;
  text-align: justify;
}

.content-div{
  min-height: 750px;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
}

header > h1 {
  flex-grow: 5;
}

header > img {
  max-height: 150px;
  max-width: 150px;
  flex-grow: 2;
}

hr{
  margin-top: 10px;
  margin-bottom: 10px;
}

img#fumo{
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 10px;
  width: 13vw;
}
